section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    gap: 4%;
    margin: 5px 0;
}
article{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5px 0;
}

.contenedorimg{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.contenedortexto{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedorbotones{
    display: flex;
    justify-content:end;
    align-items: center;
}

.price{
    font-size: 24px;
    font-weight: bold;
    color: #FFC970;
    margin: 5px 0;
}

p{
    margin: 5px 0;
}

h3{
margin: 7px 0;
font-size: 30px;
}

button {
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 100;
    border-radius: 0.8rem;
    width: 45%;
    margin: 1rem auto;
    opacity: 0.8;
    background-color: #ffc96f;
  }