.menu {
  height: 5rem;
  background-color: #ffc970;
  width: 100%;
  align-items: space-between;
  display: flex;
}

nav {
  display: flex;
  height: 100%;
  background-color: #ffc970;
}

.icono {
  width: 30px;
  padding: 0.2rem;
}

a {
  color: black;
}

.nav__home,
.nav__products,
.nav__add_products,
.nav__register,
.nav__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  height: 100%;
  background-color: #ffc26f;
}

.icono {
  width: 30px;
  padding: 0.2rem;
}
a {
  color: black;
}
.login {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  gap: 20px;
  color: gray;
  align-items: center;
}

.nav__home,
.nav__products,
.nav__add_products,
.nav__register,
.nav__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.navLink {
  display: flex;
  align-items: center;
}

.nav__add_products {
  width: fit-content;
}

button {
  height: 2.5rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 100;
  border-radius: 0.8rem;
  width: 30%;
  margin: 1rem auto;
  opacity: 0.8;
  color: #884a39;
  background-color: #f9e0bb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  align-self: center;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}
